@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;

  .logo {
    width: 100px;
    height: auto;
  }

  .nav {
    display: flex;
    gap: 20px;

    a {
      text-decoration: none;
      color: black;
      font-weight: normal;
      padding: 5px 10px;

      &.active {
        text-decoration: underline;
        color: black;
      }
    }
  }
}

.home-container {
  text-align: center; 
  padding: 20px ;       

  .home-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
  }
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 40px 0;  
  position: relative;
  bottom: 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;

  .footer-logo {
    width: 100px;  
    margin-bottom: 20px;  
  }

  p {
    margin: 0;
    font-size: 14px;
  }
}


.about-container {
  text-align: center;
  padding: 20px;

  .about-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
  }
}

.collapse-container {
  margin-bottom: 5px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.collapse-header {
  background-color: #ff6f61;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;

  h2 {
    margin: 0;
    font-size: 1.2rem;
  }
}

.collapse-arrow img {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.dropdown-open .collapse-arrow img {
  transform: rotate(180deg);
}

.collapse-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  padding: 0 20px;
}

.collapse-content.open {
  max-height: 500px;
  padding: 10px 20px;
}

.collapse-content p {
  margin: 0;
  color: #333;
}