.slideshow-container {
  position: relative;
  max-width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
}

.slideshow-image-container {
  position: relative;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 80px;
  color: white;
  border: none;
  background: none;
  z-index: 10;
  transition: color 0.3s ease;
  padding: 10px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover, .next:hover {
  color: #ff6b6b;
}

.slide-number {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

@media (max-width: 480px) {
  .slideshow-container {
    max-width: 100%;
    padding: 10px;
  }

  .slideshow-image-container {
    max-height: 80vw;
  }

  .slideshow-image {
    width: 80vw;
    height: 80vw;
    object-fit: cover;
    border-radius: 15px;
  }

  .prev, .next {
    font-size: 40px;
    padding: 5px;
  }

  .prev {
    left: 50px;
  }

  .next {
    right: 50px;
  }

  .slide-number {
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
}